# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyo
*.pyd

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
*.sqlite3

# Environment variables
.env
*.env

# Virtual environment
venv/

# IDEs
.idea/
.vscode/

# PyCharm
*.iml
*.ipr
*.iws
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Coverage reports
.coverage
.coverage.*
*.cover
*.coverage
*.hypothesis/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log

# Jupyter Notebook
.ipynb_checkpoints

# PostgreSQL
*.sql
*.pgpass

# Other
*.my.cnf
