{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>LibroLink</title>
    <link rel="stylesheet" href="{% static 'accounts/css/login_styles.css' %}">
</head>
<body>
    <div class="header">
        <img src="{% static 'accounts/images/librolink_logo_2.png' %}" alt="Logo">
        <button id="loginBtn" data-modal-open="{{ modal_open }}">Login</button>
    </div>
    <div class="container">
        <div class="news-container">
            <div class="news-card">
                <h3>Nuevas adquisiciones!</h3>
                <p>Vení a leer estos títulos!</p>
            </div>
            <div class="news-card">
                <h3>Cursos de Java en el SUM! Vení!</h3>
                <p>Vení a capacitarse con el nuevo plan de capacitación de la Legislatura Provincial!</p>
            </div>
        </div>
    </div>

    <div id="loginModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Login</h2>
            <form method="post" novalidate>
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="error-message">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="form-group">
                    <div class="input-container">
                        {{ form.username }}
                        <span class="floating-label">Usuario</span>
                    </div>
                    {% if form.username.errors %}
                        <div class="error-message">
                            {% for error in form.username.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <div class="input-container">
                        {{ form.password }}
                        <span class="floating-label">Contraseña</span>
                    </div>
                    {% if form.password.errors %}
                        <div class="error-message">
                            {% for error in form.password.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                
                <button type="submit">Login</button>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var modal = document.getElementById("loginModal");
            var btn = document.getElementById("loginBtn");
            var span = document.getElementsByClassName("close")[0];

            if (btn.getAttribute("data-modal-open") === "True") {
                modal.style.display = "block";
            }

            btn.onclick = function() {
                modal.style.display = "block";
            }

            span.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        });
    </script>
</body>
</html>



















{% comment %} {% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>LibroLink</title>
    <link rel="stylesheet" href="{% static 'accounts/css/login_styles.css' %}">
</head>
<body>
    <div class="header">
        <img src="{% static 'accounts/images/librolink_logo_2.png' %}" alt="Logo">
        <button id="loginBtn" data-modal-open="{{ modal_open }}">Login</button>
    </div>
    <div class="container">
        <div class="news-container">
            <div class="news-card">
                <h3>Nuevas adquisiciones!</h3>
                <p>Vení a leer estos títulos!</p>
            </div>
            <div class="news-card">
                <h3>Cursos de Java en el SUM! Vení!</h3>
                <p>Vení a capacitarse con el nuevo plan de capacitación de la Legislatura Provincial!</p>
            </div>
        </div>
    </div>

    <div id="loginModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Login</h2>
            <form method="post" novalidate>
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="error-message">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="error-message">
                            {% for error in form.username.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    {% if form.password.errors %}
                        <div class="error-message">
                            {% for error in form.password.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var modal = document.getElementById("loginModal");
            var btn = document.getElementById("loginBtn");
            var span = document.getElementsByClassName("close")[0];
        
            // Asegúrate de comparar con una cadena
            if (btn.getAttribute("data-modal-open") === "True") {
                modal.style.display = "block";
            }
        
            btn.onclick = function() {
                modal.style.display = "block";
            }
        
            span.onclick = function() {
                modal.style.display = "none";
            }
        
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        });
    </script>
</body>
</html>
 {% endcomment %}
