{% extends 'core/home.html' %}

{% block title %}Dashboard Bibliotecario{% endblock %}

{% block section_name %}Biblioteca{% endblock %}

{% block content %}
    <h1>Bienvenido al Dashboard del Bibliotecario</h1>
    <div class="dashboard-content">
        <a href="{% url 'books:gestionar_libros' %}" class="btn">Administrar Libros</a>
        <a href="{% url 'accounts:gestionar_socios' %}" class="btn">Administrar Socios</a>
        {% comment %} <a href="{% url 'gestionar_prestamos' %}" class="btn">Administrar Préstamos</a> {% endcomment %}
    </div>
{% endblock %}
