{% extends 'core/home.html' %}

{% load static %}

{% block title %}Dashboard Bibliotecario{% endblock %}

{% block section_name %}Administración de Biblioteca{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'core/css/biblioteca_dashboard_styles.css' %}">
    <div class="dashboard-content">
        <a href="{% url 'books:gestionar_libros' %}" class="btn">Administrar Libros</a>
        <a href="{% url 'accounts:gestionar_socios' %}" class="btn">Administrar Socios</a>
        {% comment %} <a href="{% url 'gestionar_prestamos' %}" class="btn">Administrar Préstamos</a> {% endcomment %}
    </div>
{% endblock %}
