{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LibroLink{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'core/css/home_styles.css' %}">
</head>

<body>
    <header class="core_header">
        <div class="core_container">
            <div class="core_header_content">
                <div class="core_logo">
                    <img src="{% static 'accounts/images/librolink_logo_2.png' %}" alt="Logo">
                </div>
                <div class="core_section_name">
                    <h2>{% block section_name %}Biblioteca{% endblock %}</h2>
                </div>
                <div class="core_user_info">
                    {% if user.is_authenticated %}
                        <span>Bienvenido, {{ user.username }}</span>
                        <form action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Salir</button>
                        </form>
                    {% else %}
                        <a href="{% url 'login' %}">Iniciar sesión</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <main class="core_main_content">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="core_footer">
        <div class="core_footer_container">
            <div class="core_footer_content">
                <div class="core_footer_left">
                    <p id="datetime"></p>
                </div>
                <div class="core_footer_center">
                    <p>© Powered by Nicolas</p>
                </div>
                <div class="core_footer_right">
                    <a href="#">Contacto</a>
                </div>
            </div>
        </div>
    </footer>

    <script>
        function updateDateTime() {
            var now = new Date();
            var datetime = now.toLocaleString();
            document.getElementById('datetime').textContent = datetime;
        }
        setInterval(updateDateTime, 1000);
        updateDateTime();
    </script>

</body>

</html>
