{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibroLink</title>

    <!-- Enlaces a estilos CSS -->
    <link rel="stylesheet" href="{% static 'core/css/home_styles.css' %}">
    <!-- Enlaces a fuentes y otros recursos -->

</head>

<body>
    <!-- Header con enlaces a las aplicaciones -->
    <header class="header">
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <h1>LibroLink</h1>
                </div>
                <nav class="app-links">
                    <ul>
                        <li><a href="{% url 'book_list' %}">Búsqueda de Libros</a></li>
                        <li><a href="{% url 'add_book' %}">Administración de Libros</a></li>
                    </ul>
                </nav>
                <div class="user-info">
                    {% if user.is_authenticated %}
                        <span>Bienvenido, {{ user.username }}</span>
                        <a href="{% url 'logout' %}">Salir</a>
                    {% else %}
                        <a href="{% url 'login' %}">Iniciar sesión</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-left">
                    <p id="datetime"></p>
                </div>
                <div class="footer-center">
                    <p>Powered by Nicolas</p>
                </div>
                <div class="footer-right">
                    <a href="#">Contacto</a>
                </div>
            </div>
        </div>
    </footer>

    <script>
        function updateDateTime() {
            var now = new Date();
            var datetime = now.toLocaleString();
            document.getElementById('datetime').textContent = datetime;
        }
        setInterval(updateDateTime, 1000);
        updateDateTime();
    </script>

</body>

</html>
