.dashboard-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
}

.dashboard-content .btn {
    background-color: #1abc9c; /* Verde turquesa */
    color: #ffffff;
    font-size: 18px;
    font-weight: 500; /* Peso medio */
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.dashboard-content .btn:hover {
    background-color: #16a085; 
    transform: scale(1.05); 
}

.dashboard-content .btn:active {
    transform: scale(0.98); 
}

h1 {
    font-size: 36px;
    color: #2c3e50; 
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700; 
}
