body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.core_container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.core_header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    width: 100%;
    z-index: 1000;
}

.core_header .core_header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.core_header .core_logo h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.core_header .core_app_links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.core_header .core_app_links ul li {
    margin-right: 20px;
}

.core_header .core_app_links ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.core_header .core_app_links ul li a:hover {
    color: #ffd700;
    /* Cambiar color al pasar el mouse */
}

.core_user_info {
    display: flex;
    align-items: center;
}

.core_user_info a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.core_user_info a:hover {
    text-decoration: underline;
}

.core_main_content {
    margin-top: 80px;
    /* Ajuste para el header fijo */
    padding: 20px;
}

.core_main_content h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.core_main_content p {
    line-height: 1.6;
}

/* Estilos para el footer */
.core_footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.core_footer .core_footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.core_footer .core_footer_left,
.core_footer .core_footer_center,
.core_footer .core_footer_right {
    flex: 1;
}

.core_footer .core_footer_left p,
.core_footer .core_footer_center p,
.core_footer .core_footer_right a {
    margin: 0;
    color: #fff;
}

.core_footer .core_footer_right a {
    text-decoration: none;
}

.core_footer .core_footer_right a:hover {
    text-decoration: underline;
}

/* Media queries para responsive */
@media (max-width: 768px) {
    .core_header .core_header_content {
        flex-direction: column;
        align-items: flex-start;
    }

    .core_header .core_user_info {
        margin-top: 10px;
    }

    .core_header .core_app_links ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .core_header .core_app_links ul li {
        margin-bottom: 10px;
    }

    .core_footer .core_footer_content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .core_footer .core_footer_left,
    .core_footer .core_footer_center,
    .core_footer .core_footer_right {
        margin-bottom: 10px;
    }
}

