{% extends "core/home.html" %}

{% load static %}

{% block section_name %}Añadir Libro{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'books/css/add_books_styles.css' %}">

<div class="form-container">
    <h2>Añadir Libro</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
</div>

<!-- Botón para Volver a la Gestión de Libros -->
<a href="{% url 'books:gestionar_libros' %}" class="return-btn">Volver a la Gestión de Libros</a>
{% endblock %}
